    <!-- Pop-Up -->
<div class="social-popup">
    <div class="velina"></div>
    <div class="social-close"><a class="social-close-button" href="#"><i class="fas fa-times"></i></a></div>
    <div class="social-container">
        <h2 class="white">You can find us on:</h2>
        <div class="social-buttons-content">
            <div class="social-button-container">
                <a class="social-links fb hover-state" target="_blank" href="https://www.facebook.com/fightbean"><div class="icon-container"><i class="icon icon-fb"></i></div></a>
                <a class="social-links fb normal" target="_blank" href="https://www.facebook.com/fightbean"><div class="icon-container"><i class="icon icon-fb"></i></div></a>
            </div>
            <div class="social-button-container">
                <a class="social-links dribbble hover-state" target="_blank" href="https://dribbble.com/fightbean"><div class="icon-container"><i class="icon icon-dribbble"></i></div></a>
                <a class="social-links dribbble normal" target="_blank" href="https://dribbble.com/fightbean"><div class="icon-container"><i class="icon icon-dribbble"></i></div></a>
            </div>
            <div class="social-button-container">
                <a class="social-links instagram hover-state" target="_blank" href="https://www.instagram.com/fightbean/"><div class="icon-container"><i class="icon icon-instagram"></i></div></a>
                <a class="social-links instagram normal" target="_blank" href="https://www.instagram.com/fightbean/"><div class="icon-container"><i class="icon icon-instagram"></i></div></a>
            </div>
            <div class="social-button-container">
                <a class="social-links be hover-state" target="_blank" href="https://www.behance.net/fightbean"><div class="icon-container"><i class="icon icon-be"></i></div></a>
                <a class="social-links be normal" target="_blank" href="https://www.behance.net/fightbean"><div class="icon-container"><i class="icon icon-be"></i></div></a>
            </div>
        </div>

    </div>
</div>
<!-- Pop-Up -->
