<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>B</key>
		<integer>0</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>C</key>
		<integer>0</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>F</key>
		<integer>0</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>J</key>
		<integer>0</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>M</key>
		<integer>0</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>N</key>
		<integer>0</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>e</key>
		<integer>-50</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>W</key>
		<integer>0</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>X</key>
		<integer>0</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>c</key>
		<integer>0</integer>
		<key>one</key>
		<integer>-180</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>d</key>
		<integer>0</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>e</key>
		<integer>0</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>f</key>
		<integer>0</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>nine</key>
		<integer>0</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>g</key>
		<integer>0</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>six</key>
		<integer>0</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>five</key>
		<integer>0</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>h</key>
		<integer>0</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>i</key>
		<integer>0</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>j</key>
		<integer>0</integer>
		<key>s</key>
		<integer>0</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>k</key>
		<integer>0</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>l</key>
		<integer>0</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>m</key>
		<integer>0</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>o</key>
		<integer>0</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>one</key>
		<integer>0</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>n</key>
		<integer>0</integer>
		<key>p</key>
		<integer>0</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>two</key>
		<integer>0</integer>
		<key>zero</key>
		<integer>0</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>o</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>0</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>s</key>
		<integer>0</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>period</key>
		<integer>-350</integer>
		<key>space</key>
		<integer>0</integer>
		<key>t</key>
		<integer>0</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<integer>0</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>seven</key>
		<integer>0</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>h</key>
		<integer>50</integer>
		<key>i</key>
		<integer>0</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>h</key>
		<integer>0</integer>
		<key>u</key>
		<integer>0</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>three</key>
		<integer>0</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
