@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Landing";
}

@section Element
{

    <section class="wrapper">
        <div class="border-element"></div>


        <!-- Page Navigation Progress-->
        <div class="page-nav hidden-sm hidden-xs">
            <ul class="list-unstyled">
                <li><a class="slider-first" href="#"><i class="icon icon-navigazione-1"></i></a></li>
                <li><a class="slider-second" href="#"><i class="icon icon-navigazione-2"></i></a></li>
                <li><a class="slider-third" href="#"><i class="icon icon-navigazione-3"></i></a></li>
                <li><a class="slider-fourth" href="#"><i class="icon icon-navigazione-4"></i></a></li>
            </ul>
        </div>
        <!-- Page Navigation Progress-->
        <!--next section container-->
        <nav class="arrow-section-container hidden-sm hidden-xs"><a class="go-to-next" href="#"><i class="icon icon-arrow-down"></i></a></nav>
        <nav class="arrow-section-container visible-sm visible-xs"><a href="#content" class="scrollTo"><i class="icon icon-arrow-down"></i></a></nav>
        <div class="landing scene" id="demo-slider">

            <!-- Page 1 -->
            <!-- Dynamic Content -->
            <div class="landing scene" id="demo-slider">
                <div class="slides workinprogress active">

                    <!-- Dynamic Content is rendered here -->
                    <section class="visible-section"></section>
                    <!-- Dynamic  Content is rendered here -->
                    <!-- Static Content -->
                    <div class="hidden-section">
                        <div class="col-center padding-bottom-mobile">
                            <h2 class="not-uppercase">
                                Welcome to <br class="hidden-sm hidden-md hidden-lg">
                                <div class="typed-string-container">
                                    <div class="profile-pic second"></div>
                                    <span class="second-typed-string"> Zinake </span>
                                </div><br class="hidden-md hidden-lg"> Web Portal.
                            </h2>
                            <div class="text-primary">
                                Here, you can
                                <div class="typed-string-container">
                                    <span class="first-typed-string">Learn About</span>
                                    <div class="profile-pic first"></div>
                                </div> the app. <br><br>
                                <div class="typed-string-container">
                                    <span class="third-typed-string"></span>
                                    <div class="profile-pic third"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Static Content -->

                </div>
            </div>
            <!-- Dynamic Content -->
            <!-- Page 2 -->
            <!-- Intro Section -->
            <div class="slides video-slide" id="content">

                <!-- Background Video -->
                <div class="absolute-full-container hidden-xs hidden-sm">
                    <div class="iphone-video-container visible-lg" id="scene2">
                        <video class="composizione" loop autoplay muted>
                            <source src="~/Content/Images/AOB/video/finale-white.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="static-video-container visible-md" id="scene5" style="background-image:url('~/Content/Images/AOB/video_1024.jpg')"></div>
                </div>
                <!-- Background Video -->
                <!-- Content -->
                <div class="col-left padding-bottom-mobile toshow" id="scene1">
                    <h2 class="green">BreadCrumbs...</h2>
                    <p class="text-primary">Zinake targets two markets from both the client and partner side.</p>
                    <div class="outer-button-container">
                        <div class="normal-button-container">
                            <a data-target="#follow" href="#" onClick="event.preventDefault(); return false;" class="btn btn-default normal-links hover-state popup-open">More About Zinake<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                            <a data-target="#follow" href="#" onClick="event.preventDefault(); return false;" class="btn btn-default normal-links normal popup-open">More About Zinake<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <!--  Responsivinities -->
                <div class="gif-container toshow visible-sm visible-xs">
                    <img class="img-responsive" src="~/Content/Images/AOB/gif-finale.gif">
                </div>
                <!--  Responsivinities -->

            </div>

            <!-- Ads Section-->
            <div class="slides hiring-section">
                <div class="absolute-full-container video-container hidden-sm hidden-xs">
                    <div class="no-padding hiring-thumb">
                        <div class="static-video-thumb hidden-lg" style="background-image:url('~/Content/Images/AOB/video/static-videos/1.jpg');"></div>
                        <video class="hidden-md hidden-sm hidden-xs" loop muted>
                            <source src="~/Content/Images/AOB/video/studio.webm" type="video/webm">
                            <source src="~/Content/Images/AOB/video/studio.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="no-padding hiring-thumb">
                        <div class="static-video-thumb hidden-lg" style="background-image:url('~/Content/Images/AOB/video/static-videos/2.jpg');"></div>
                        <video class="hidden-md hidden-sm hidden-xs" loop muted>
                            <source src="~/Content/Images/AOB/video/postit.webm" type="video/webm">
                            <source src="~/Content/Images/AOB/video/postit.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="no-padding hiring-thumb last">
                        <div class="static-video-thumb hidden-lg" style="background-image:url('~/Content/Images/AOB/video/static-videos/3.jpg');"></div>
                        <video class="hidden-md hidden-sm hidden-xs" loop muted>
                            <source src="~/Content/Images/AOB/video/mani.webm" type="video/webm">
                            <source src="~/Content/Images/AOB/video/mani.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="no-padding hiring-thumb">
                        <div class="static-video-thumb hidden-lg" style="background-image:url('~/Content/Images/AOB/video/static-videos/4.jpg');"></div>
                        <video class="hidden-md hidden-sm hidden-xs" loop muted>
                            <source src="~/Content/Images/AOB/video/splaaaash-def.webm" type="video/webm">
                            <source src="~/Content/Images/AOB/video/splaaaash-def.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="no-padding hiring-thumb">
                        <div class="static-video-thumb hidden-lg" style="background-image:url('~/Content/Images/AOB/video/static-videos/5.jpg');"></div>
                        <video class="hidden-md hidden-sm hidden-xs" loop muted>
                            <source src="~/Content/Images/AOB/video/telefono_def.webm" type="video/webm">
                            <source src="~/Content/Images/AOB/video/telefono_def.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="no-padding hiring-thumb last">
                        <div class="static-video-thumb hidden-lg" style="background-image:url('~/Content/Images/AOB/video/static-videos/6.jpg');"></div>
                        <video class="hidden-md hidden-sm hidden-xs" loop muted>
                            <source src="~/Content/Images/AOB/video/greg_attacks.webm" type="video/webm">
                            <source src="~/Content/Images/AOB/video/greg_attacks.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-left toshow" id="scene3">
                    <h2 class="white">Choose Subscription</h2>
                    <p class="white">Zinake is growing. Aiming to connect local workers to even bigger companies, and establish a community built on trust, hard work and rewards.</p>
                    <div class="outer-button-container">
                        <div class="normal-button-container">
                            <a data-target="#jobs" href="#" class="btn btn-default normal-links hover-state popup-open">Join as a Partner<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                            <a data-target="#jobs" href="#" class="btn btn-default normal-links normal popup-open">Join as a Partner<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                        </div>
                        <div class="normal-button-container">
                            <a target="_blank" href="/room/roommate-wanted.html" class="btn btn-default normal-links hover-state">Join as a Client<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                            <a target="_blank" href="/room/roommate-wanted.html" class="btn btn-default normal-links normal">Join as a Client<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                        </div>
                    </div>
                </div>
                <div class="mobile-slider toshow visible-sm visible-xs">
                    <ul id="mobile-slider">
                        <li>
                            <img class="img-responsive" src="~/Content/Images/AOB/video/static-videos/1.jpg" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/Images/AOB/video/static-videos/2.jpg" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/Images/AOB/video/static-videos/3.jpg" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/Images/AOB/video/static-videos/4.jpg" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/Images/AOB/video/static-videos/5.jpg" />
                        </li>
                        <li>
                            <img class="img-responsive" src="~/Content/Images/AOB/video/static-videos/6.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Ads Section-->
            <!-- Page 3 Content -->
            <div class="slides sview-section">
                <div class="left-layer-show">
                    <div class="arrow-section-container"><a class="street-view-toggle" href="#"><i class="icon icon-arrow-down"></i></a></div>
                </div>
                <div id="street-view"></div>
                <div class="absolute-full-container overlay-map-layer">
                    <div class="col-left toshow" id="scene4">
                        <h2 class="white">Home is where <br>the family is.</h2>
                        <p class="white">We are in Juja, Kenya. Come and say hallo! But remember: don’t knock, just <a class="map-show" href="#">click</a><a class="open-contatti-mobile popup-open" href="#" data-target="#contact-us">click</a>. </p>
                        <div class="outer-button-container">
                            <div class="normal-button-container">
                                <a data-target="#contact-us" href="#" class="btn btn-default normal-links hover-state popup-open">Contact us<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                                <a data-target="#contact-us" href="#" class="btn btn-default normal-links normal popup-open">Contact us<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="static-sview-image toshow visible-xs visible-sm" style="background-image:url('~/Content/Images/AOB/img-streetview-cut.jpg')">
                    <img class="img-responsive" src="">
                </div>
            </div>

        </div>
    </section>

}



@section PopUps
{
    <!-- Pop-Up Social -->
    <div class="social-popup">
        <div class="velina"></div>
        <div class="social-close"><a class="social-close-button" href="#"><i class="fas fa-times"></i></a></div>
        <div class="social-container">
            <h2 class="white">You can find us on:</h2>
            <div class="social-buttons-content">
                <div class="social-button-container">
                    <a class="social-links fb hover-state" target="_blank" href="https://www.facebook.com/fightbean"><div class="icon-container"><i class="fab fa-twitter"></i></div></a>
                    <a class="social-links fb normal" target="_blank" href="https://www.facebook.com/fightbean"><div class="icon-container"><i class="fab fa-twitter"></i></div></a>
                </div>
                <div class="social-button-container">
                    <a class="social-links dribbble hover-state" target="_blank" href="https://dribbble.com/fightbean"><div class="icon-container"><i class="fab fa-dribbble"></i></div></a>
                    <a class="social-links dribbble normal" target="_blank" href="https://dribbble.com/fightbean"><div class="icon-container"><i class="fab fa-dribbble"></i></div></a>
                </div>
                <div class="social-button-container">
                    <a class="social-links instagram hover-state" target="_blank" href="https://www.instagram.com/fightbean/"><div class="icon-container"><i class="fab fa-instagram"></i></div></a>
                    <a class="social-links instagram normal" target="_blank" href="https://www.instagram.com/fightbean/"><div class="icon-container"><i class="fab fa-instagram"></i></div></a>
                </div>
                <div class="social-button-container">
                    <a class="social-links be hover-state" target="_blank" href="https://www.behance.net/fightbean"><div class="icon-container"><i class="fab fa-behance"></i></div></a>
                    <a class="social-links be normal" target="_blank" href="https://www.behance.net/fightbean"><div class="icon-container"><i class="fab fa-behance"></i></div></a>
                </div>
            </div>

        </div>
    </div>
    <!-- Pop-Up Social -->
    <!-- Pop-Up Jobs-->
    <div class="popup-outer" id="jobs">
        <div class="velina"></div>
        <div class="popup-inner">
            <div class="mobile-header-solid">
                <div class="mob-close-button-container visible-sm visible-xs"><a href="#" class="mob-close"><i class="icon icon-close"></i></a></div>
            </div>
            <a href="#" class="close-button-container close-button hidden-sm hidden-xs">
                <div class="rotated-button">
                    <span class="close-button" href="#">CLOSE</span>
                </div>
            </a>
            <div class="overlay-content">
                <div class="popup-content padding-big">
                    <div class="div-700-max">
                        <header class="popup-header">
                            <h1 class="medium-title">Being a bean</h1>
                            <p>We are always on the look out for creative makers and thinkers across project management, ux, ui,  visual design and development. <br><b>Join our great team!</b></p>
                        </header>
                    </div>
                </div>
                <div class="popup-content padding-big">
                    <div class="popup-main-content">
                        <div class="jobs-listing">
                            <div class="div-700-max">
                                <h5 class="jobs-subtitle"><b>There are no current openings.</b></h5>
                                <p>Please apply to <a href="mailto:jobs@fightbean.it">jobs@fightbean.it</a> and we will consider you for future positions.</p>
                            </div>
                            <!--
                                                            <div class="div-700-max">
                                                                <h5 class="jobs-subtitle">We are looking for</h5>
                                                                <ul class="jobs-list">
                                                                    <li><a href="/jobs/ux-designer.html">1. Ux designer</a></li>
                                                                </ul>
                                                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pop-Up Jobs-->
    <!-- Pop-Up Contacts -->
    <div class="popup-outer" id="contact-us">
        <div class="velina"></div>
        <div class="popup-inner">
            <div class="mobile-header-solid">
                <div class="mob-close-button-container visible-sm visible-xs"><a href="#" class="mob-close"><i class="icon icon-close"></i></a></div>
            </div>
            <a href="#" class="close-button-container close-button hidden-sm hidden-xs">
                <div class="rotated-button">
                    <span class="close-button" href="#">CLOSE</span>
                </div>
            </a>
            <div class="overlay-content">
                <div class="popup-content padding-big">
                    <div class="div-700-max">
                        <header class="popup-header">
                            <h1 class="medium-title">Let's keep in touch </h1>
                            <p>We are in office monday-friday, 9-18. <br>Drop us a line here, send us an email or call.</p>
                            <form name="contactForm" class="input-styled" id="formDefault">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="name" id="contactName" class="form-control">
                                            <label for="contactName">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" name="telephone" id="contactPhone" class="form-control">
                                            <label for="contactPhone">Telephone</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" name="email" id="contactEmail" class="form-control required">
                                            <label for="contactEmail">Email address</label>
                                            <span class="error-text empty-text">Questo campo è obbligatorio!</span>
                                            <span class="error-text mail">La mail non è valida!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group last">
                                            <textarea name="text" id="textMessage" class="form-control"></textarea>
                                            <label for="textMessage">Your message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="normal-button-container">
                                    <a data-target="#follow" href="#" class="btn btn-default normal-links hover-state submit">Send<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                                    <a data-target="#follow" href="#" class="btn btn-default normal-links normal submit">Send<div class="icon-container"><i class="icon icon-arrow-right"></i></div></a>
                                </div>
                            </form>
                            <div class="success-message">
                                <h2 class="green">THANK YOU <span class="name-value">placeholder</span>!</h2>
                                <p>
                                    We will get back to you soon. <br>Good design never sleep. But we do. Sometimes.<br>
                                    Do you want to <a class="mostra-form" href="#">send another message?</a>
                                </p>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="popup-content padding-big">
                    <h1 class="medium-title green">Come and stop in, we have coffee.</h1>
                    <div class="div-700-max">
                        <div class="row address-blocks-container">
                            <div class="col-md-6 address-blocks">
                                <div class="address-block-content">
                                    <h6>HEADQUARTER</h6>
                                    <p>via Perrone 5<br>10125 Torino, ITALY<br>Tel. + 39 011 19 47 83 11 / 011 19 47 83 10<br>Email <a href="mailto:hello@fightbean.it">hello@fightbean.it</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 address-blocks clearfix">
                                <div class="address-block-content">
                                    <h6>NEW BUSINESS</h6>
                                    <p>Federica Pecoraro<br>Tel. +39 347 77 28 264<br>Email <a href="mailto:federica.pecoraro@fightbean.it">federica.pecoraro@fightbean.it</a><br>Matteo Botto<br>Tel. +39 333 59 95 248<br>Email <a href="mailto:matteo.botto@fightbean.it">matteo.botto@fightbean.it</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-content padding-small">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pop-Up Contacts -->

}
